Repository RafidUl-Karim/Cloudly-Alpha-AI-Team-1, pull requests merged in 2025-05, with the labels that each got.

#51 Fix of Duplicate Directory Issue
  Weekly Progress Report/Week 3 (April 07, 2025 - April 11, 2025)/Weekly-Report-Week-3-Oudarja-Tanmoy.pdf
Labels: duplicate, Weekly Report

#57 Notes for Mathematics for Machine Learning: Multivariate Calculus [Updated]
  Mathematic for Machine Learning Specialization/Multivariate Calculus/Documentation-Multivariate-Calculus-Rafid-Ul-Karim.md
Labels: documentation

#53 Week 4 Report
  Weekly Progress Report/Week 4 (April 14, 2025 - April 18, 2025)/Weekly-Report-Week-4-Rafid-Ul-Karim.pdf
Labels: Weekly Report

#47 Object Oriented Programming Test Case
  OOP Test Case/OOP Test Case Ariful Islam/pytest.ini
  OOP Test Case/OOP Test Case Ariful Islam/src/oop.py
  OOP Test Case/OOP Test Case Ariful Islam/test/oop_test.py
Labels: Test Case

#61 Fix of Naming Scheme Issue and Removal of Unnecessary .docx File
  Weekly Progress Report/Week 1 (17 March, 2025 - 21 March, 2025)/Weekly-Report-Week-1-Oudarja-Barman-Tanmoy.pdf
  Weekly Progress Report/Week 1 (17 March, 2025 - 21 March, 2025)/Weekly-Report-Week-1-Oudarja-Tanmoy.docx
  Weekly Progress Report/Week 2 (March 24, 2025 - March 27, 2025)/Weekly-Report-Week-2-Oudarja-Barman-Tanmoy.pdf
  Weekly Progress Report/Week 4 (April 14, 2025 - April 18, 2025)/Weekly-Report-Week-4-Oudarja-Barman-Tanmoy.pdf
Labels: bug, Weekly Report

#62 Weekly Progress Reports of Week-6 and Week-7
  Weekly Progress Report/Week 6 (April 28, 2025 - May 01, 2025)/Weekly-Report-Week-6-Oudarja-Barman-Tanmoy.pdf
  Weekly Progress Report/Week 7 (May 05, 2025 - May 09, 2025)/Weekly-Report-Week-7-Oudarja-Barman-Tanmoy.pdf
Labels: Weekly Report

#59 Weekly Progress Report of Week -5
  Weekly Progress Report/Week 5 (April 21, 2025 - April 25, 2025)/Weekly-Report-Week-5-Oudarja-Barman-Tanmoy.pdf
Labels: Weekly Report

#60 Weekly Reports for Week-6 and Week-7
  Weekly Progress Report/Week 6 (April 28, 2025 - May 01, 2025)/Weekly-Report-Week-6-Ariful-Islam.pdf
  Weekly Progress Report/Week 7 (May 05, 2025 - May 09, 2025)/Weekly-Report-Week-7-Ariful-Islam.pdf
Labels: Weekly Report
