Repository RafidUl-Karim/Cloudly-Alpha-AI-Team-1, pull requests merged in 2025-04, with the labels that each got.

#15 Uploaded Weekly Report (Week 2 & 3)
  Weekly Progress Report/Week 2 (March 24, 2025 - March 27, 2025)/Weekly Report -Week 2 - Alpha AI-Ariful-Islam.pdf
  Weekly Progress Report/Week 3 (April 07, 2025 - April 11, 2025)/Weekly Report -Week 3 - Alpha AI-Ariful-Islam.pdf
Labels: Weekly report

#17 Weekly progress report of week 3
  Weekly Progress Report/Week 3 (7 April,2025 - 11 April , 2025)/Weekly Report - Week 3 - Oudarja Barman Tanmoy.pdf
Labels: Weekly report

#19 Test Driven Development Documentation
  Test Driven Development/Test_Driven_Development_Documentation_Arif.md
Labels: documentation

#20 Documentation on Test Driven Development
  Test Driven Development/Test_Driven_Documentation_OudarjaTanmoy.md
Labels: documentation

#21 Documentation on Test Driven Development
  Test Driven Development/Test_Driven_Development_Documentation_Rafid_Ul_Karim.md
Labels: documentation

#22 Week 3 Report
  Weekly Progress Report/Week 3 (April 07, 2025 - April 11, 2025)/Weekly Report - Week 3 - Rafid Ul Karim.pdf
Labels: Weekly report

#24 "XGBoost": Research Paper Summarization
  Research Papers/XGBoost/Literature Review- Oudarja Barman Tanmoy.pdf
Labels: documentation

#37 Weekly Report Week - 4
  Weekly Progress Report/Week 4 (April 14, 2025 - April 18, 2025)/Weekly-Report-Week-4-Ariful-Islam.pdf
Labels: Weekly report

#39 Educational Resources Searchning and Analyzing Technique
  Master Files/How-to-Search-and-Analyze-Relevant-Research-Papers-Blogs-and-Online-Resources.md
Labels: documentation

#40 Test Driven Development Documentation
  Test Driven Development/Documentation-Test-Driven-Development-Rakib-Abdullah.md
Labels: documentation

#43 Weekly Progress Report of Week 4
  Weekly Progress Report/Week 4 (April 14, 2025 - April 18, 2025)/Weekly Report-Week 4-Oudarja-Barman-Tanmoy.pdf
Labels: Weekly report

#46 Weekly Progress Report Week-5
  Weekly Progress Report/Week 5 (April 21, 2025 - April 25, 2025)/Weekly-Report-Week-5-Ariful-Islam.pdf
Labels: Weekly Report
